{% extends 'layout-12.html' %}

{% block title %}Супер блог{% endblock %}

{% block center %}
<div class="row">
    <div id="mc-column">
    </div>
    <div class="col-lg-12">
        <div class="row">
            <dev class="col-lg-4"></dev>
            <dev class="col-lg-4">
                <button onclick="loadPosts();" class="btn btn-default btn-block">Загрузить ещё</button>
            </dev>
            <dev class="col-lg-4"></dev>
        </div>
    </div>
</div>
{% include 'widget/post-modal.html' %}
<script>
var currentPageNumber = 1;
function loadPosts() {
    $.ajax({
        'url': '/page/' + currentPageNumber + '/',
        'type': 'get',
        'dataType': 'json',
        'success': function(response){
            if(response.items.length < 1){
                return;
            }
            $.each(response.items, function (index, itemHtml) {
                $('#mc-column').append(itemHtml);
            });
            currentPageNumber += 1;
        }
    })
}
$(function () {
    loadPosts();
});
</script>
{% endblock %}
