<div id="post-item-{{ item.id }}" class="col-lg-12 post-mini {% if item.is_active %}toggle-0{% else %}toggle-1{% endif %}">
    <div class="media-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if item.ribbon.logo_url %}
                <img
                    class="ribbon-icon"
                    alt="64x64"
                    src="{{ item.ribbon.logo_url }}"
                >
                {% endif %}
                <strong style="padding-left: 5px;">{{ item.ribbon.title }}</strong>
            </div>
            <div class="panel-body">
                <h3 class="media-heading title">{{ item.title }}</h3>
                {% if item.image %}
                <img alt="{{ item.title }}" src="{{ item.image }}" style="margin-bottom: 10px;">
                {% endif %}
                <div class="small panel-content">{{ item.annotation|safe }}</div>
                <a
                    class="btn btn-primary btn-sm btn-block"
                    href="{{ item.url }}?from=index"
                    onclick="return showModal('{{ item.id }}');"
                >
                    <strong>Показать полностью</strong>
                </a>
            </div>
            <div class="panel-footer">
                {% if is_editor %}
                {% include 'widget/editor-control.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>