<!-- Modal -->
<div class="modal" id="postModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span style="color: white">*</span>
      </div>
      <div class="modal-body" id="modalPostContent">
        ...
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<script>
    function showModal(postId) {
        history.pushState({'page_id': postId}, '', '/post/'+postId+'/');
        $.get('/post/'+postId+'/?from=index', function(html){
            $('#modalPostContent').html(html);
        });
        $('#postModal').modal('show');
        return false;
    }
    $(function () {
        $('#postModal').on('hide.bs.modal', function (e) {
            history.pushState({'page_id': 0}, '', '/');
        });
        {% if item %}
        showModal({{ item.id }});
        {% endif %}
    });
</script>